<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="iac"  class="com.nt.beans.IntrestAmountCalculator">
        <constructor-arg name="details"  value="100000,24,2"/>
    </bean>
    
    <bean  id="cec" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
       <property name="customEditors">
         <map>
           <entry key="com.nt.beans.IntrestAmountDetails" 
                        value="com.nt.editor.IntrestAmountDetailsEditor"></entry>
         </map>
       </property>
    </bean>

</beans>
